* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22092c;
  color: white;
  font-family: "Roboto Slab";
  flex-direction: column;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

.color-codes-div {
  display: flex;
  text-align: center;
  align-items: center;
}

.color-sec {
  margin: 0 1.5rem;
}

.color-sec input {
  height: 2.5rem;
  text-align: center;
  width: 15rem;
  border-radius: 0.3rem;
}
.color-sec input:focus-visible {
  outline: none;
  box-shadow: 0 0 10px 0 #ecd4f6;
  border: 1px solid #22092c;
}

.color-output {
  height: 10rem;
  width: 40rem;
  margin: 2rem;
  background-color: #22092c;
  border-radius: 0.3rem;
}

.copy {
  cursor: pointer;
}
.copy:hover {
  color: #51ff36;
}

.hidden {
  display: none;
}
span {
  font-weight: 500;
  color: #51ff36;
}
