* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22092cff;
  color: white;
  font-family: "Roboto Slab";
  flex-direction: column;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

.color-codes-div {
  display: flex;
  text-align: center;
  align-items: center;
}

.color-sec {
  margin: 0 1.5rem;
}

.color-sec input {
  height: 2.5rem;
  text-align: center;
  width: 15rem;
}

.color-output {
  height: 10rem;
  width: 10rem;
  background-color: #22092cff;
}
